<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Goals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="weekly-goals.component.scss"> 
</head>

<body>

    <div class="box">
        <div class="header-body">
            <h1> Weekly Goals </h1>
            <div class="fall-text"> 9/24 - 9/30 </div>
        </div>
        <div class="list-item">
            <div class="checkbox"></div>
            <div class="text">
                <div class="goal"> Finish Google cover letter... </div>
                <div class="tag"> #apply-internships </div>
            </div>
        </div>

        <div class="list-item">
            <div class="checkbox"></div>
            <div class="text">
                <div class="goal"> Apply to Microsoft </div>
                <div class="tag"> #apply-internships </div>
            </div>
        </div>

        <div class="list-item">
            <div class="checkbox"></div>
            <div class="text">
                <div class="goal"> Practice implementing data structures... </div>
                <div class="tag"> #interview-technical </div>
            </div>
        </div>
        <h1 class="end-add"> + Add a weekly goal </h1>
    </div>

</body>
</html>
