
.container {
  font-family: 'Oxygen';
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 900px;
  margin: auto;
}

.top {
  display: flex;
  flex-direction: row;
}

.toptext {
  display: flex;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color: #4B5853;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.weeks {
  color: #4B5853;
  text-align: left;
  font-size: 22.5px;
  font-weight: 600;
  margin-bottom: 38px;
  margin-top: 10px;
}

.goalcontainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 100%;
}

.dots {
  margin-right: 10px;
}
.goal {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  width: 60%;
  border-bottom: 2px solid #4B5853;
}

.newgoal {
font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  width: 60%;
  border-bottom: 2px solid #4B5853;
}

.goal-input {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  border: none;
}

.goal-input:focus {
  border: 0px;
}

p {
  margin: 0px;
}

.dropdown-container-internships {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  width: 50%;
  border-bottom: 2px solid #2DBDB1;

  .internshiphashtag {
    font-family: 'Oxygen';
    font-size: 19.1px;
    font-weight: 300;
    color: #2DBDB1;
}

.algorithmshashtag {
    font-family: 'Oxygen';
    font-size: 19.1px;
    font-weight: 300;
    color: #FFB987;
}

.selecthashtag {
    font-family: 'Oxygen';
    font-size: 19.1px;
    font-weight: 300;
    color: #8FA89F;
}

.triangle {
  margin-left: 10px;
}
}

.dropdown-container-algorithms {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 30px;
width: 50%;
border-bottom: 2px solid #FFB987;

.internshiphashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #2DBDB1;
}

.algorithmshashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #FFB987;
}

.selecthashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #8FA89F;
}

.triangle {
margin-left: 10px;
}
}

.dropdown-container-goals {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 30px;
width: 50%;
border-bottom: 2px solid #8FA89F;

.internshiphashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #2DBDB1;
}

.algorithmshashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #FFB987;
}

.selecthashtag {
  font-family: 'Oxygen';
  font-size: 19.1px;
  font-weight: 300;
  color: #8FA89F;
}
}